/*
!.bashrc
!.bash_profile
!.config
.config/*
!.config/alacritty
!.config/cura
!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/rofi
!.config/sway
!.config/waybar
!.config/redshift
!.gitignore
!.gitmodules
!.gitconfig
!.local
.local/*
!.local/share
.local/share/*
!.local/share/scripts
!.profile
